<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>GIGA</title>

        <!--Estilos de elementos-->
        <link href="NewGiga.css" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="NewImg.css">

        <!--SCRIPT-GIGA-->
        <script src="Newjava.js"></script>
    </head>

    <body>
        <!-- Header-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#!">GIGA-SHOP</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
                        
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Consola</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#!">All Products</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="#!">Popular Items</a></li>
                                <li><a class="dropdown-item" href="#!">PC</a></li>
                                <li><a class="dropdown-item" href="#!">PlayStation</a></li>
                                <li><a class="dropdown-item" href="#!">Nintendo</a></li>
                                <li><a class="dropdown-item" href="#!">Xbox</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex">
                       
                    </form>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Giga-Gaming</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Tienda de videojuegos</p>
                </div>
            </div>
        </header>
                <!--NAVEGATION-->
                <!--AQUI COMINEZA EL CUERPO-->


        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                
                <!-- AQUI ES DONDE VAMOS A IMPLEMENTAR JAVASCRIPT
                -->  
                
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center" id="content">

                    <!--NO TOCAR EL SIGUIENTE <DIV> PORFAVOR-->
                    <!--Lo USAREMOS COMO EJEMPLO-->  

                    {{#videojuegos}}
                    
                        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                             <div class="col mb-5">
                                <div class="card h-100">
            
                                <!-- Product details-->
                                    <div class="card-body p-4">
                                        <div class="text-center">
                                         <!-- Product name-->
                                            <h5 class="fw-bolder">{{nombre}}</h5>
                                        <!-- Product price-->
                                             <h5>{{precio}}€</h5>
                                        </div>
                                    </div>
                                <!-- Product actions-->
                                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                        <div class="text-center">
                                             <p class="btn btn-outline-dark mt-auto">{{descripcion}}</p>
                                             {{#comentarios}}
                                            {{/comentarios}}
                                         </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {{/videojuegos}}

                <!--HASTA AQUIE ES PARA LA IMPLEMETACION DE JAVASCRIPT-->

                <button onclick="loadAJAX()">Ver más</button>

            </div>
            </div>
        </section>
        <!--NAVEGATION-->

        <!-- Footer-->
       
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        
    </body>
</html>